<%- partial('_partial/head') %>

<body>
  <main class="content">
    <%- body %>
    <%- partial('_partial/footer') %>
  </main>
  <aside class="sidebar">
    <%- partial('_partial/sidebar',null, {cache: !config.relative_link}) %>
  </aside>
  <%- partial('_partial/after-footer') %>
  <%- partial('_partial/post/katex') %>
  {% include '_third-party/comments/index.swig' %}
  <script type="text/javascript" src="./js/clicklove.js"></script>
  <script type="text/javascript" src="./js/snow.js"></script>
  <!--彩带2.自动飘动-->
  <% if (theme.ribbon_flow){ %>
  <!-- <script src="https://g.joyinshare.com/hc/piao.js" type="text/javascript"></script> -->
  <script type="text/javascript" src="./js/ribbon_flow.js"></script>
  <% } %>
</body>

</html>